/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
    margin: 0;
    padding: 0;
}

main,
li {
    display: block;
}

h1,
h2,
h3,
h4 {
    font-size: inherit;
}

a,
button {
    color: inherit; /* doesnt inherit by default */
    transition: .3s;
}
a {
    text-decoration: none;
}

/*
One of the fundamentals of responsive web development, this makes sure images respect the bounds of a fluid container. The image never exceeds the width of it's container. The image's aspect ratio is preserved even if it has an inline height set.
border: 0 fixes images within links gaining a border in IE 8, 9 and 10.
*/

img {
    max-width: 100%;
    height: auto;
    border: 0;
}